.profile-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 100vh;
}

.profile-body {
    border-left: solid #D3D3D3;
    border-width: thin;
}

.profile-img-container {
    height: 16rem;
}

.profile-img-background {
    background-color: var(--primary-color);
    height: 12rem;
}

.profile-img {
    width: 100%;
    height: 8rem;
    top: -4rem;
    position: relative;
}

.profile-img img {
    width: 8rem;
    border-radius: 50%;
    z-index: 1;
    height: 8rem;
    position: absolute;
    margin-left: 1rem;
    background-color: beige;
}

.edit-btn {
    position: relative;
    background-color: black;
    height: 2rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 1em 0.5em;
    color: #fff;   
    margin-top: -6rem;
    margin-right: 1rem;
}

.fr {
    float: right;
}

.profile-details .username {
    font-weight: bold;
}

.profile-details  .userbio {
    margin-top: 1rem;
}

.profile-details .userbiolink a{
    margin-left: 0.5rem;
}

.profile-details .userbiolink a {
    color: var(--primary-color);
  }

  a:hover {
    text-decoration: underline;
  }
  
.profile-details .profile-follow-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.profile-details  {
    font-size: 1em;
    margin-left: 10px;
}