textarea {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    resize: none;
    outline: none;
    display: inline-block;
    width: 85%;
}

.image-container {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
}

.post-container {
    display: inline-block;
    border-left: solid #D3D3D3;
    border-width: thin;
}

.share-btn {
    background-color: var(--primary-color);
    width: 5rem;
    height: 2rem;
    float: right;
    margin-right: 1rem;
    border: none;
    border-radius: 1rem;
    color: var(--secondary-color);
}

