.follow-container{
    display: flex;
    flex-direction: column;
    border-left:  solid #D3D3D3;
    border-width: thin;
}

.follow-container .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3rem;
}

.container .image-container {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding-left: 0px;
    padding-right: 0px;
}


.text-container {
    display: flex;
    width: 17rem;
    flex-direction: column;
    text-align: left;
    padding-left: 5rem;
    white-space: nowrap;
}

.follow-btn {
    background-color: red;
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin-right: auto;
    text-align: center;
    background-color: black;
    height: 2rem;
    max-width: 4rem;
    border-radius: 1rem;
    color: #fff;
    line-height: initial;
  }
  