.follow-container{
    display: flex;
    flex-direction: column;
    border-left:  solid #D3D3D3;
    border-width: thin;
}

.follow-container .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 3rem;
    margin-bottom: 1rem;
}

.container .image-container {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0px;
}


.text-container {
    display: flex;
    width: 17rem;
    flex-direction: column;
    text-align: left;
    padding-left: 4rem;
    white-space: nowrap;
}

.follow-btn {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin-right: auto;
    text-align: center;
    background-color: black;
    height: 2rem;
    max-width: 4rem;
    border-radius: 1rem;
    color: #fff;
    line-height: initial;
  } 
  
  .follow-container-heading {
   font-size: larger;
   font-weight: bold;
   margin-left: 5px;
   margin-bottom: 10px;
  }