.follow-container{
    display: flex;
    flex-direction: column;
    border-left:  solid #D3D3D3;
    border-width: thin;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    white-space: nowrap;
}


.follow-btn {
    display: flex;
    align-items: center;
    background-color: black;
    height: 2rem;
    margin-top: 5px;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1rem;
    float: right;
    padding: 1em 0.5em;
    color: #fff;
    line-height: initial;
  }
  