.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    color: #7D7E8C;
}

.blank-container {
    background-color: #1DA1F2;
    height: 100vh;
    width: 50vw;
}

.auth-container {
    margin-left: 2rem;
}

.heading {
    font-size: 5rem;
    font-weight: bold;
}

.subheading {
    font-size: 2rem;
    font-weight: bold;
}

.auth-buttons {
    margin-top: 5rem;
    font-size: larger;
}

.auth-buttons button {
    padding: 10px;
    border: 5px solid #1DA1F2;
    border-radius: 10%;
    display: block;
    margin-top: 5px;
    margin-bottom: 2rem;
    min-width: 6rem;
    letter-spacing: 1px;
}