.profile-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.profile-body {
    border-left: solid #D3D3D3;
    border-width: thin;
}

.profile-img-container {
    height: 16rem;
}

.profile-img-background {
    background-color: var(--primary-color);
    height: 12rem;
}

.profile-img {
    width: 100%;
    height: 8rem;
    top: 8rem;
    position: absolute;
}

.profile-img img {
    width: 8rem;
   border-radius: 50%;
    z-index: 1;
    height: 8rem;
    position: absolute;
    margin-left: 1rem;
    background-color: beige;
}

.fr {
    float: right;
}

button {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
    color: #fff;
    line-height: initial;
}