:root {
  --primary-color: #329FFF;
  --secondary-color: white;
  --border-color: #D3D3D3;
  --medium-font-size: 1em;
  --large-font-size: 1.5em;
}

.error-text {
  color: var(--primary-color);
  font-size: var(--medium-font-size);
  display: block;
}

.mr-2 {
  margin-right: 2px;
}

.center {
  text-align: center;
}

.subheading {
  display: block;
  font-size: 75%;
  opacity: 0.75;
}

.message{
  display: block;
  font-size: 1.5em;
  opacity: 0.75;
}